<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Practice Travel Blog</h1>
    <p class="lead">travel blog practice template.</p>
  </div>
</div>


<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
